<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <select class="custom-select" ng-model="field" ng-change="displaySearch(field)">
                    <option ng-selected="true">Select field for search</option>
                    <option value="no">Number</option>
                    <option value="author">Author</option>
                    <option value="date">Date</option>
                    <option value="title">Title</option>
                    <!-- <option value="tags_title">Tags Title</option> -->
                </select>
        </div>
        <div class="col-md-4 ">
            <input ng-hide="viewDate" class="form-control" placeholder="Search" name="srch-term" ng-model="searchTxt" id="srch-term" type="text">
            <input ng-show="viewDate" class="form-control" placeholder="Search" name="srch-term" ng-model="searchTxt" id="srch-term" type="date">
        </div>

        <div class="col-md-4 ">
            <button type="button" class="btn btn-primary" ng-click="search(searchTxt,field)">Search</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">no</th>
                <th scope="col">author</th>
                <th scope="col">date</th>
                <th scope="col">title</th>
                <!-- <th scope="col">tags_title</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in filteredTodos">
                <th scope="row">{{item.no}}</th>
                <td>{{item.author}}</td>
                <td>{{item.date | date:'dd/MM/yyyy'}}</td>
                <td><a ng-href="#/contents" ng-click="viewNews(item)">{{item.title}}</a> </td>
                <!-- <td>{{item.tags_title.toString()}}</td> -->
                <!-- /{{item.no}}/{{item.date | date:'yyyyMMdd'}} -->
            </tr>
        </tbody>
    </table>


    <pagination ng-model="currentPage" total-items="searchData.length" max-size="maxSize" boundary-links="true">
    </pagination>

</div>