<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="scotchApp">

<head>
    <title>조선중앙통신 미러</title>
    <link rel="stylesheet" href="boot/dist/css/bootstrap.css" />
    <script src="npm/angular/angular.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <!-- <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script data-require="angular.js@*" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script> -->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script> -->
    <script src="js/script.js"></script>
</head>

<!-- define angular controller -->

<body ng-controller="mainController">
    <div class="container" ng-hide="displayMe">

        <div class="row" style="width:100%; margin:0; auto; text-align: center;">
            <div class="searchType" style="width: 15%; margin: 5px;">
                    <select class="custom-select" ng-model="field">
                        <option ng-selected="true" value="no">번호</option>
                        <option value="author">기자</option>
                        <option value="date">날짜</option>
                        <option value="title">제목</option>
                        <option value="contents">내용</option>
                        <!-- <option value="tags_title">Tags Title</option> -->
                    </select>
            </div>
            <div class="searchWord" style="width: 70%; margin: 5px;">
                <input class="form-control" placeholder="검색어" name="srch-term" ng-model="searchTxt" id="srch-term" type="text">
            </div>
            <div class="seachButton" style="width: 10%; margin: 5px; ">
                    <button type="button" class="btn btn-primary" ng-click="search(searchTxt,field)">검색</button>
             </div>
         </div>

        <table class="table table-hover" style="width:100%; text-align:center">
            <thead>
                <tr>
                    <th scope="col" style="width:12%;">날짜</th>
                    <th scope="col" style="width:8%;">번호</th>
                    <th scope="col" style="width:18%;">기자</th>
                    <th scope="col" style="width:62%;" >제목</th>
                    <!-- <th scope="col">tags_title</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in filteredTodos" ng-click="viewNews(item)">
                    <th scope="row" style="width:12%;">{{item.date | date:'yyyy/MM/dd'}}</th>
                    <td style="width:8%;">{{item.no}}</td>
                    <td style="width:18%;">{{item.author}}</td>
                    <td style="width:62%; text-align:left">{{item.title}}</td>
                    <!-- <td>{{item.tags_title.toString()}}</td> -->
                </tr>
            </tbody>
        </table>

        <!-- <h4>{{todos.length}} total</h4>
        <ul>
            <li ng-repeat="todo in filteredTodos">{{todo.text}}</li>
        </ul> -->
                <table class="table table-hover" style="width:100%; text-align:center">
                <pagination ng-model="currentPage" total-items="searchData.length" max-size="maxSize" boundary-links="true">
        </pagination>
        </table>
        

        <!-- <pagination ng-model="currentPage" total-items="searchData.length" max-size="maxSize" boundary-links="true">
        </pagination> -->
    </div>
    <div class="container" ng-show="displayMe">
        <div class="row text-right">
            <button type="button" class="btn btn-primary " ng-click="closeMe()">X</button>
        </div>

        <div class="row card">
            <div class="col-md-6">
                <h5 class="card-title">Number</h5>
            </div>
            <div class="col-md-6">
                {{viewSelected.no}}
            </div>
        </div>
        <div class="row card">
            <div class="col-md-6">
                <h5 class="card-title">Author</h5>
            </div>
            <div class="col-md-6">
                {{viewSelected.author}}
            </div>
        </div>
        <div class="row card">
            <div class="col-md-6">
                <h5 class="card-title">Date</h5>
            </div>
            <div class="col-md-6">
                {{viewSelected.date}}
            </div>
        </div>
        <div class="row card">
            <div class="col-md-6">
                <h5 class="card-title">Title</h5>
            </div>
            <div class="col-md-6">
                {{viewSelected.title}}
            </div>
        </div>
        <div class="row card">
            <div class="col-md-6">
                <h5 class="card-title">Tags Title</h5>
            </div>
            <div class="col-md-6">
                {{viewSelected.tags_title.toString()}}
            </div>
        </div>
        <div class="row card">
            <div class="col-md-6">
                <h5 class="card-title">Tags Article</h5>
            </div>
            <div class="col-md-6">
                {{viewSelected.tags_article.toString()}}
            </div>
        </div>

        <div class="row card">
            <div class="col-md-6">
                <h5 class="card-title">Content</h5>
            </div>
            <div class="col-md-6">
                {{viewSelected.contents}}
            </div>
        </div>

    </div>
    </div>
</body>

</html>
